html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #333;
    background-color: #ede0d9; 
    
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}


a {
    color: $mainDusty;
}
