html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #333;
    background-color: #e9e6e1; 
    
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

/*
a {
    color: $mainOrange;
}
*/