.headline {
    font-weight: 400;
    font-size: 2.2rem;
    color: $mainRed;

    @mixin atSmall {
        font-size: 2.5rem;
    }

    &--centered {
        text-align: center;
    }

    &--orange {
        color: $mainRed;
    }

    &--small {
        font-size: 1.4rem;

        @mixin atSmall {
            font-size: 1.6rem;
        }
    }

    &--narrow {
        max-width: 500px;
        margin-left:auto;
        margin-right: auto;
    }

    &--light {
        font-weight: 100;
    }

    &--b-margin-small {
        margin-bottom: -.5em;
    }

    &--b-margin-large {
        margin-bottom: 1.6em;
    }

    &--no-t-margin {
        margin-top: 0;
    }
}

